# https://editorconfig.org

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.css]
indent_style = tab

[*.js]
indent_style = tab

[*.json]
indent_style = tab

[*.{markdown,md}]
indent_size = 4
indent_style = space

[*.sql]
indent_style = tab

[*.yml]
indent_size = 2
indent_style = space
