parameters:
    phpVersion:
        min: 70200 # PHP 7.2
        max: 80599 # PHP 8.5

    level: 8

    paths:
        - library/
        - src/
        - tests/

    excludePaths:
        analyseAndScan:
            - .git/*?
            - build/*?
            - vendor/*

    treatPhpDocTypesAsCertain: false # TODO: Fix

includes:
    - utils/PHPStan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
