<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
    backupGlobals="false"
    bootstrap="tests/bootstrap.php"
    convertDeprecationsToExceptions="true"
    colors="true"
    >
    <testsuites>
        <testsuite name="SimplePie Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">library</directory>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
