name: CI

on:
  # Run on all pushes and on all pull requests.
  push:
  pull_request:
  # Allow manually triggering the workflow.
  workflow_dispatch:

jobs:
  check-code-style:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: ['8.4']

    name: "Check code style | PHP ${{ matrix.php }}"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install PHP with latest composer
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          ini-values: error_reporting=-1, display_errors=On, log_errors_max_len=0
          coverage: none
          tools: none

      # Install dependencies and handle caching in one go.
      # @link https://github.com/marketplace/actions/install-composer-dependencies
      - name: "Install Composer dependencies"
        uses: "ramsey/composer-install@v3"

      - name: "Check coding style"
        run: composer cs

  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php:
          - '7.2'
          - '7.3'
          - '7.4'
          - '8.0'
          - '8.1'
          - '8.2'
          - '8.3'
          - '8.4'

    name: "PHP: ${{ matrix.php }}"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install PHP with latest composer
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          ini-values: error_reporting=-1, display_errors=On, log_errors_max_len=0
          coverage: none
          tools: none

      - name: Remove PHPStan for older PHP
        if: ${{ matrix.php < '8.0' }}
        run: composer remove --dev phpstan/phpstan phpstan/phpstan-phpunit

      # Install dependencies and handle caching in one go.
      # @link https://github.com/marketplace/actions/install-composer-dependencies
      - name: "Install Composer dependencies"
        uses: "ramsey/composer-install@v3"

      - name: Remove MF2 for PHP >=8.4
        # mf2 is not compatible with PHP 8.4+
        # see https://github.com/microformats/php-mf2/pull/264
        # see https://github.com/simplepie/simplepie/pull/929
        if: ${{ matrix.php >= '8.4' }}
        run: composer remove --dev mf2/mf2
      - name: Run unit tests
        run: composer test

      # It is sufficient to run PHPStan with one supported PHP version
      - name: Run static analysis
        if: ${{ matrix.php >= '8.0' }}
        run: composer phpstan -- --error-format=github

  test-compiled:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: ['8.3']

    name: "Test single-file build | PHP ${{ matrix.php }}"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          ini-values: error_reporting=-1, display_errors=On, log_errors_max_len=0
          coverage: none
          tools: none

      # Install dependencies and handle caching in one go.
      # @link https://github.com/marketplace/actions/install-composer-dependencies
      - name: "Install Composer dependencies"
        uses: "ramsey/composer-install@v3"
        with:
          composer-options: --ignore-platform-reqs

      - name: Run build script
        run: php build/compile.php

      - name: Rename src and library folders
        run: mv src src.bak && mv library library.bak

      - name: Run unit tests using compiled file
        run: composer test -- --bootstrap=build/bootstrap.php
