name: Releases

on:
  push:
    tags:
    - '*'

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'
        ini-values: error_reporting=-1, display_errors=On, log_errors_max_len=0
        coverage: none
        tools: none

    - name: Run build script
      run: php build/compile.php

    - uses: ncipollo/release-action@v1
      with:
        artifacts: "SimplePie.compiled.php"
        allowUpdates: true
        token: ${{ secrets.GITHUB_TOKEN }}
